extends layout 

block content 
  h1 #{title}:#{genre.name}
  if book_list.length 
    h2 Delete these books first! 
    ul
      for book in book_list 
        li 
          a(href = book.url) #{book.title}
  else  
    p Do you really want to Delete this Genre?

    form(method = 'POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='genreid', required='true', value=genre._id )
      button.btn.btn-primary(type='submit') Delete